includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/shipmonk/phpstan-rules/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon

parameters:
    level: max

    paths:
        - src
        - tests

    checkBenevolentUnionTypes: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportMaybesInPropertyPhpDocTypes: false

    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping!:
                \MSpirkov\Yii2\Db\Tests\AbstractTestCase: Test

    bootstrapFiles:
        - phpstan/bootstrap.php

    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV
        - YII_ENV_DEV
        - YII_ENV_PROD
        - YII_ENV_TEST

    ignoreErrors:
        -
            message: '#^Missing native return typehint int\|false$#'
            count: 1
            reportUnmatched: false # fails only for PHP > 7.4
            path: src/ActiveRecord/AbstractRepository.php

        -
            message: '#^Missing native return typehint int\|bool$#'
            count: 1
            reportUnmatched: false # fails only for PHP 8.0 and 8.1
            path: src/ActiveRecord/AbstractRepository.php

        -
            message: '#^Missing native return typehint mixed$#'
            count: 1
            reportUnmatched: false # fails only for PHP > 7.4
            path: src/ActiveRecord/DateTimeBehavior.php

        -
            message: '#^Missing native return typehint mixed$#'
            count: 2
            reportUnmatched: false # fails only for PHP > 7.4
            path: src/TransactionManager.php

        # This is a feature of the Yii2 components. The properties are public, but they can also be modified.
        -
            identifier: shipmonk.publicPropertyNotReadonly
            count: 3
            reportUnmatched: false # fails only for PHP > 8.0
            path: src/ActiveRecord/DateTimeBehavior.php

        # We intentionally throw exceptions there.
        -
            message: '#^Throwing checked exception Exception in closure\!$#'
            count: 3
            path: tests/TransactionManagerTest.php
